mixin new(data)
    .video-container
        each val in data
            .video-item
                .video 
                    //- <iframe src=val.video width="100%" height="219" frameborder="0" allowfullscreen></iframe>
                    #{val.video}
                h4 #{val.title}
                hr
                .tags 
                    a(href="", title="title") tag 1
                    a(href="", title="title") tag 2
                    a(href="", title="title") tag 3
                    a(href="", title="title") tag 4
                    a(href="", title="title") tag 5
                    a(href="", title="title") tag 6
                    a(href="", title="title") tag 7
                    a(href="", title="title") tag 8
                    a(href="", title="title") tag 9
                hr
                .date-container
                    .date
                        | 26/11/2019 
                    .time 
                        | 22:53